<div class="innovation-container">
    <div class="innovation-banner-wrapper">
      <div class="innovation-banner clearfix">
        <img
          class="innovation-banner-overlay"
          src="assets/images/banner-overlay.png"
          alt=""
        />
        <!-- <div class="innovation-banner-green">
          <div class="innovation-banner-title">
            Predictable innovation acceleration using the UST Innovation Assurance
            methodology
          </div>
        </div> -->
        <div class="innovation-banner-image">
          <img src="assets/images/innovation-banner.jpg" alt="" />
        </div>
      </div>
    </div>
  
    <div class="innovation-main">
      <div style="display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0px;">

            <img src="assets/images/OM-7.png" alt="OM-7"  >
            
            
            </div>
            <div style="display: flex;
            align-items: center;
            justify-content: center;
            margin: 40px 0px;">
    
                <img src="assets/images/OM-8.jpg" alt="OM-7"  >
                
                
                </div>
                <div style="display: flex;
                align-items: center;
                justify-content: center;
                margin: 40px 0px;">
        
                    <img src="assets/images/OM-9.png" alt="OM-7"  >
                    
                    
                    </div>
                    <div style="display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 40px 0px;">
            
                        <img src="assets/images/OM-10.png" alt="OM-7"  >
                        
                        
                        </div>
        <div style="display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0px;">

            <img src="assets/images/OM-1.jpg" alt="OM-1">
            
            
            </div>
            
            
            
            <div style="display: flex;
            align-items: center;
            justify-content: center;
            margin: 40px 0px;">
            
            <img src="assets/images/OM-2.jpg" alt="OM-2" >
            
            
            </div>
            
            
            
            <div style="display: flex;
            align-items: center;
            justify-content: center;
            margin: 40px 0px;">
            
            <img src="assets/images/OM-3.jpg" alt="Cinque Terre" >
            
            
            </div>
            
            
            
            <div style="display: flex;
            align-items: center;
            justify-content: center;
            margin: 40px 0px;">
            
            <img src="assets/images/OM-4.jpg" alt="Forest">
            
            
            
            </div>
            
            
            
            <div style="display: flex;
            align-items: center;
            justify-content: center;
            margin: 40px 0px;">
            <img src="assets/images/OM-5.png" alt="OM-5" width="750px">
            
            </div>
            
            
            
            <div style="display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0px;">
            <img src="assets/images/OM-6.gif" alt="OM-6">
            
            </div>
     </div>
  </div>
  