<div class="innovation-container">
  <div class="innovation-banner-wrapper">
    <div class="innovation-banner clearfix">
      <img
        class="innovation-banner-overlay"
        src="assets/images/banner-overlay.png"
        alt=""
      />
      <!-- <div class="innovation-banner-green">
        <div class="innovation-banner-title">
          Predictable innovation acceleration using the UST Innovation Assurance
          methodology
        </div>
      </div> -->
      <div class="innovation-banner-image">
        <img src="assets/images/innovation-banner.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="innovation-main">
    <div class="grid">
       <img src="../../assets/images/Picture1.jpg" alt="" />
       <div id="hexagon" class="hexa1" (click)="goToHexa1()"></div>
       <div id="hexagon" class="hexa2" (click)="goToHexa2()"></div>
       <div id="hexagon" class="hexa3" (click)="goToHexa3()"></div>
       <div id="hexagon" class="hexa4" (click)="goToHexa4()"></div>
       <div id="hexagon" class="hexa5" (click)="goToHexa5()"></div>
       <div id="hexagon" class="hexa6" (click)="goToHexa6()"></div>
       <div id="hexagon" class="hexa7" (click)="goToHexa7()"></div>
       <div id="hexagon" class="hexa8" (click)="goToHexa8()"></div>
       <div id="hexagon" class="hexa9" (click)="goToHexa9()"></div>
       <div id="hexagon" class="hexa10" (click)="goToHexa10()"></div>
       <div id="hexagon" class="hexa11" (click)="goToHexa11()"></div>
       <div id="hexagon" class="hexa12" (click)="goToHexa12()"></div>
       <div id="hexagon" class="hexa13" (click)="goToHexa13()"></div>
       <div id="hexagon" class="hexa14" (click)="goToHexa14()"></div>
     </div>
   </div>

  <div class="innovation-main">
    <div class="innovation-intro">
<div style="font-size: 20px;">
      <p><b>
        UST Health - Purpose-built AI driven services and solutions for healthcare 
        providers, payors, and healthtech organizations to transform their business 
        and patient care.
      </b></p>
    </div>
      <p>
        We have bred Innovation at UST organically, with expertise from diverse
        experiences around the world by applying empathy first design, digital
        born innovation models and technology prowless that focused on problem
        solving. Rather than leading with a solution to a partially understood
        or in most cases a misunderstood problem, we spend time in understanding
        the context, economics, competition, the advantage before developing the
        solution.
      </p>
      <p>
        UST’s 4500+ semiconductor unit works closely with leading chip
        manufacturers like Intel, AMD, Qualcomm and others in both pre and post
        silicon areas as well as IoT solutions specific to various industries.
        We are also a strategic 360 partner to their efforts as they move to the
        edge and build industry solutions. Through this strategic alignment we
        get the privilege to leverage the solution architects from the chip
        manufacturers like Intel.
      </p>
      <p>
        Few solutions that are in the market are the frictionless checkouts for
        retailers like Ahold-Delhaize and LIDL in Germany. Also rolling out a
        vision box solution for cafeterias of hotel chains like Hilton to
        automate checkouts. Our unique edge is to fill the gap between the chips
        companies and domains like retail, banking, hospitality, education and
        manufacturing - our ability to stitch the solutions to a business
        problem by bringing in the latest on chip design to engineering
        development and device manufacturing to bring in an end-to-end strategic
        business outcomes.
      </p>
      <p>
        We have developed several techniques and methods into the
        <strong>UST Innovation Assurance</strong> that helps us accelerate
        problem solving and get to viable products in 8 weeks! Our expertise
        comes from the maturity with the ability to build a concept prototype –
        Minimum Viable Concept and extend it to a product prototype, a Minimum
        Viable Product, to quickly bring it into the market. We have the
        engineering scale through an extensive ecosystem to support the
        industrial strength product release into the market via production
        release, through an Initial Operational Release.
      </p>
      <p>
        We come in when a customer is struggling within a problem area that has
        several problems that needs to be addressed. We get engaged when they
        are running out of budget, resources, time and bandwidth. This is when
        we help organize by running ideation exercises, hackathons to develop
        prototypes. Additionally, we accelerate pilots and scale as the
        initiative expands to add innovative capabilities.
      </p>
      <div class="innovation-intro-title">
        UST Innovation Acceleration Approach
      </div>
      <p>
        Our approach applies several design thinking principles to realistically
        apply ideas to the problem to formulate a solution that has the best in
        class innovative technologies. We have evolved several design techniques
        and engineering methods that provide human empathy engineered designs.
        For example, we have extended the User Journey Mapping to include Time
        and Motion study and visualize it, applied Dioramas to illustrate
        complex problems and the nuances, graphic novels to illustrate in simple
        ways the problem, ideas and solutions etc.
      </p>
      <p>
        Our approach detailed here is based on our
        <strong>UST Innovation Assurance</strong> Method,
        <strong>UST Innovation Pod™</strong>. We utilize an empathy first design
        approach, that combines human centric design with anthropologists
        throughout the innovation life cycle. We will customize this method to
        best fit the Innovation culture and our customers schedules and
        urgencies to develop an adapted approach to execution plan. The approach
        is detailed as follows:
      </p>
      <div class="single-image">
        <img src="assets/images/innovation-intro.png" alt="" />
      </div>
      <p>
        There are several sub-capabilities that we offer to accelerate
        innovation for our customers. This is dependent on where they are stuck
        or lack the capability to put into action. Many of the customers find
        themselves in a place where they must come up with innovative solutions
        to existing business to keep moving forward. The typical research &
        developments are plagued with inefficiencies, lack of accountability,
        cost overruns etc.
      </p>
      <p>
        <strong>UST Innovation Assurance</strong> provides a methodical approach
        to this challenge and capabilities that have predictable outcomes. Here
        are a couple of areas where we it is different and unique that makes a
        world of difference.
      </p>
      <p>
        Through the <strong>UST Innovation Hub</strong> in
        <strong>Tel Aviv</strong>, we are leveraging the deep relationships with
        Israel’s startup and high-tech ecosystem through solid engagements with
        entrepreneurs, companies and VCs.
      </p>
      <p>
        We have developed a network of 750+ startups and mature companies, all
        scale-ready and enterprise-relevant, from the fields of digital health,
        predictive retail and healthcare capabilities, IoT, testing and more. We
        have actively teamed with more than 20 mature companies and have
        established numerous PoCs (Proof of concepts) and joint strategies.
      </p>
    </div>

    <div class="innovation-section">
      <div class="innovation-section-title">
        Starting with a better Problem Area map
      </div>
      <p>
        Some customers find it challenging to prioritize areas where problems
        exist and rank them, so that they can create a roadmap and execution
        plan to address them. We help in the problem area identification by
        compiling insights from research, markets, key differentiators,
        analysts’ views, competition, macroeconomics, where the customer is at
        etc. This helps highlight what problems to focus efforts on from where
        the customer’s business is placed.
      </p>
      <div class="innovation-section-multiple-images">
        <img src="assets/images/innovation-problem-area-1.png" alt="" />
        <img src="assets/images/innovation-problem-area-2.png" alt="" />
      </div>
      <p>
        Narrowing the problem areas help focus on which are the areas with
        problems that would be of greater value to the business. We have a
        comprehensive forensics model that identifies what are the key problems
        that are prioritized and ranked based on Business Value and Technology
        capability.
      </p>
      <div class="innovation-section-multiple-images">
        <img src="assets/images/innovation-narrow-area-1.png" alt="" />
        <img src="assets/images/innovation-narrow-area-2.png" alt="" />
      </div>
    </div>

    <div class="innovation-section">
      <div class="innovation-section-title">
        Understanding problem nuances through unique problem discovery
        techniques
      </div>
      <p>
        We start with our Problem discovery methodology to deeply understand the
        probem and refine the problem definition with high fidelity. We use
        several empathy driven design tools to fully understand the the scope
        and friction points of a problem with Time and Motion Studies and
        produce graphic novels, journey maps, empathy maps, and dioramas the
        problem in greater details. These diverse set of outputs help us to
        visualize complex processes and understand the end user challenges
        including what they are trying to achieve, their motivations, emotions
        and friction points.
      </p>
      <div class="innovation-section-multiple-images">
        <img src="assets/images/innovation-problem-discovery-1.png" alt="" />
        <img src="assets/images/innovation-problem-discovery-2.png" alt="" />
      </div>
      <div class="single-image">
        <img src="assets/images/innovation-problem-discovery-3.png" alt="" />
      </div>
      <p>
        Taking an Empathy-First design approach, we developed a unique technique
        of telling the observed problem via a graphic novel. The
        <strong>UST Graphic Novel</strong> consists of the comic-style frames
        relaying the story conveying emotion effectively. We have a
        <strong>UST Limbic Index</strong> created to illustrate the emotion
        index.
      </p>
      <div class="innovation-section-multiple-images">
        <img src="assets/images/innovation-problem-discovery-4.png" alt="" />
        <img src="assets/images/innovation-problem-discovery-5.png" alt="" />
      </div>
      <div class="d-flex">
        <img
          class="maxWidth"
          src="assets/images/innovation-problem-discovery-6.png"
          alt=""
        />
        <div class="maxWidth">
          <p>
            We create dioramas to illustrate complex multi-dimensional problems.
            This is a unique capability that we have build in UST is to
            supplement the journey map. The <strong>UST Dioramas</strong> helps
            in identifying the various journeys involved, the key friction
            points all together, in a manner to understand the problem and the
            nuances. The visual nomenclature of the diorama uses universal
            iconography to ensure that the focus is the pathways of flow and
            activities incolved and most important the people who are
            participating and interacting.
          </p>
          <p>
            Setting up nimble teams by organizing them into
            <strong>Squads</strong>, provide us with the best acceleration with
            highly focused members, who execute to near perfection. These
            members are organized into self organizing teams and leverage the
            best frameworks, platforms and ecosystems with partners & startups.
          </p>
        </div>
      </div>
      <div class="innovation-section-multiple-images">
        <img src="assets/images/innovation-problem-discovery-7.png" alt="" />
        <img src="assets/images/innovation-problem-discovery-8.png" alt="" />
      </div>
      <p>
        The organization of the teams into
        <strong>Agile Platoons</strong> help us to deploy into initiatives based
        on the expertise required to turn the innovation and quickly build the
        product or solution. This organization is highly effective and has
        delivered across 100+ projects, where we have
      </p>
      <p>
        We create the business case as we are conceptualizing the solution and
        have a understanding of the problem. We have developed a creative way to
        develop the <strong>Lean Business Model Canvas</strong> and a
        <strong>Value Stream Map</strong>. These artifacts are living canvases
        and reflect the segments that are key to justify the value of the
        solution, the problem that it is solving for, the costs involved,
        durable advantage and the unique value proposition.
      </p>
    </div>

    <div class="innovation-section">
      <div class="innovation-section-title">
        Rally the innovators in an Ideathon and generate problem solving ideas
      </div>
      <p>
        We have developed techniques to really get to the problem and the run an
        ideation campaign to help solve the problem, that we call the
        <strong>UST Ideathon</strong>. Once the problem is clearly defined, we
        run an ideathon to generate ideas which are used to conceptualize the
        solution. Ideathons are cross functional, collaborative ideation
        sessions where we can invite both interal and external sources to submit
        ideas. Typically, there are 50-80 viable ideas generated from these
        ideation campaigns that can be tested and implemented. This is done in
        2-3 weeks; this extraordinary feat provides a great acceleration
        advantage. We select ideas to run experiments based on strategic levers
        to identify top ideas.
      </p>
      <div class="innovation-section-multiple-images three">
        <img src="assets/images/innovation-ideathon-1.png" alt="" />
        <img src="assets/images/innovation-ideathon-2.png" alt="" />
        <img src="assets/images/innovation-ideathon-3.png" alt="" />
      </div>
      <p>
        We have created a digital platform to manage ideas, collaborate with
        innovators to firm up on ideas to solve the problem. The innovators
        posing ideas are able to articulate it succinctly in a format that is
        understable and executable by the technologists as well as the business.
      </p>
      <br /><br />
      <div class="d-flex">
        <img
          class="maxWidth"
          src="assets/images/innovation-ideathon-4.png"
          alt=""
        />
        <div class="maxWidth">
          <p>
            Our selection of ideas for experiment across a various types of
            Ideathons have helped in understanding a pattern. This is
            represented in a band of ideas that appears on an ideation map, we
            call that the ‘<strong>Goldilocks Zone</strong>’. These ideas were
            found to be the most acceptable group of ideas for an MVC.
          </p>
          <p>
            We have a digital portal that virtualizes the innovation
            acceleration via a comprehensive tool, UST Waggle, this provides our
            customers, associates and partners to collaborate on innovation led
            solutions. We allow the ideation to experimentation and then to be
            packaged into a solution to be deployed into an initial operational
            release to a ongoing business release managed by
            <strong>UST Waggle</strong> and scaled with optimized DevOps
            practices.
          </p>
        </div>
      </div>
    </div>

    <div class="innovation-section">
      <div class="innovation-section-title">
        Experimentation and Conceptualizing the Solution into a Minimum Viable
        Concept
      </div>

      <div class="d-flex">
        <img class="maxWidth" src="assets/images/innovation-mvp-1.png" alt="" />
        <div class="maxWidth">
          <p>
            We utilize an agile approach to experimentation. This allows us to
            quickly validate ideas and conceptualize the solution into a Concept
            Prototype (we call it the Minimum Viable Concept – MVC). We create
            prototypes using design tools like InVision to visualize the look
            and feel of the end product. We conduct usability testing to get
            feedback on features and functions to improve and refine the MVC.
            Our cross functional teams work together to develop the solution
            together as part of our agile approach to development.
          </p>
          <p>
            The ideas that we compile into logical sets and groups are
            prioritized and ranked. Through the earlier step of ideation, the
            ideas to solve the problem completely. A map of the ideas against
            the friction points to articulate the idea, the context and
            resolution.
          </p>
          <p>
            This method has been finetuned to harvest the best idea and run
            experiments on the ones that make the most business sense.
          </p>
          <p>
            We are able to determine the scenarios with data-driven insights to
            provide us objective parameters to incorporate.
          </p>
        </div>
      </div>
      <div class="d-flex">
        <div class="maxWidth">
          <p>
            We are able to articulate the flow through a Diorama, amongst other
            visualizations to illustrate the how we have addressed the friction
            points.
          </p>
          <p>
            We are able to show how the new landscape looks like. The
            visualization also take the form of a clickable prototype, an
            illustrative functional component and others to ensure that the idea
            resolves the problem at a whole or partially.
          </p>
        </div>
        <img class="maxWidth" src="assets/images/innovation-mvp-2.png" alt="" />
      </div>
    </div>

    <div class="innovation-section">
      <div class="innovation-section-title">
        Concept validated by business in 3 weeks with a Minimum Viable Concept
        (MVC)
      </div>
      <p>
        We provide a great acceleration of ideas to experiments in a variety of
        ways. The first step to converting ideas to concepts in the form of
        paper prototypes, digital dioramas, stop-motion animations, immersive
        reality illustrations, graphic novels, storyboards, digital screen
        prototypes to name a few. This helps contextualize the solution from the
        various ideas. We create a business canvas to ensure that the concept is
        truly viable with clear understanding of the durable advantage, the
        unique value proposition, partners, customer segments, costs and most
        importantly how revenues look.
      </p>
      <div class="innovation-section-multiple-images">
        <img src="assets/images/innovation-mvc-1.png" alt="" />
        <img src="assets/images/innovation-mvc-2.png" alt="" />
      </div>
    </div>

    <div class="innovation-section">
      <div class="innovation-section-title">
        From Concept Prototype to Product ready for Release in 5 weeks!
      </div>
      <p>
        After the Concept Prototype is built and approved, we will develop a
        meaningful Product Prototype (we call it the Minimal Viable Product –
        MVP). We develop user stories based on the desired features and
        functions to development using agile sprints. Our focus is on providing
        demo-able functionality each sprint showcasing incremental features.
      </p>
      <div class="innovation-section-multiple-images">
        <img src="assets/images/innovation-prototype-1.png" alt="" />
        <img src="assets/images/innovation-prototype-2.png" alt="" />
      </div>
      <div class="d-flex">
        <img
          class="maxWidth"
          src="assets/images/innovation-prototype-3.png"
          alt=""
        />
        <p class="maxWidth">
          We create a visual execution plan of the various tasks and sub-streams
          of work that we need to perform. This helps the teams organize
          themselves and work with our innovation squads. The self organizing
          squads with grouping of tasks for sprints makes it possible to achieve
          the goals.
        </p>
      </div>
      <div class="single-image">
        <img src="assets/images/innovation-prototype-4.png" alt="" />
      </div>
      <p>
        A concept that we created for managing ultra-perishable items in a
        controlled environment throuh the coldchain. We developed this solution
        and competed in an IoT Hackathon in Chicago, where we won at the
        Hackathon for leveraging AI on the edge with cutting edge hardware and
        software frameworks.
      </p>
    </div>

    <div class="innovation-section">
      <div class="innovation-section-title">
        Rapid solution with a Product into consumers hands via Minimum Viable
        Product (MVP)
      </div>
      <p>
        The path to creating the product prototype with some of the innovative
        business models and specific innovative technologies are available
        through the UST ecosystem, where we leverage UST Product & Platforms,
        Partner & Startup Products & Platforms as well as work with Academia in
        specific areas to build that advantage.
      </p>
      <p>
        We can leverage our innovation labs and innovation garages to develop
        software and hardware prototypes within our labs around the world.
        Solutions are built on a variety of technology stacks and leverage IoT,
        AR/MR/VR, Blockchain, Quantum Compute, Analytics, Machine Learning, Edge
        Compute to name a few.
      </p>
      <p class="highlight">
        Highlight: Here is an example of a MVP in the manufacturing space during
        drug manufacturing, our focus was on Optimizing the cleaning and
        documentation process during Continuous Drug Manufacturing
      </p>
      <div class="innovation-section-subtitle">
        Challenge: Cleaning process after drug manufacturing run
      </div>

      <div class="d-flex">
        <img
          class="maxWidth"
          src="assets/images/innovation-challenge-1.png"
          alt=""
        />
        <div class="maxWidth">
          <p>
            The drug manufacturing process for large pharmaceutical Research and
            Development (R&D) group has a series of steps that must be followed
            to produce the drug product. The process requires the drug
            manufacturing team to document each step once it is completed per
            cGMP regulations.
          </p>
          <p>
            This is a manual process where the drug manufacturing engineer and
            technicians need to follow the check list and signoff after every
            step. This is a time-consuming process and takes almost 8-10 hours
            per batch run.
          </p>
          <p>
            During this process, the drug manufacturing team must account for
            all the parts that goes into the apparatus used to manufacture the
            drugs. The cleaning process once a drug is produced, takes around 3
            to 4 days. The most time that is consumed is in the cleaning of the
            stainless-steel hopper, feeders, sieves, blenders etc.
          </p>
          <p>
            The problem that needs to be addressed is improvement in the
            efficiency of identification, tracking and documentation of parts
            during the equipment assembly and detailed cleaning phases of the
            manufacturing process.
          </p>
          <p>
            The organization is looking to bring efficiencies and optimizing
            this process while being compliant to the cGMP regulations.
          </p>
          <p>
            <strong>
              What we did? An innovative solution using Vision & RFID
            </strong>
          </p>
          <p>
            We developed a combination of solutions with multiple experiments to
            solve the problem with RFID Tags on Stainless Steel Metal – Given
            RFID tags can withstand extreme conditions; the experiment placed
            RFID tags on the various equipment parts. The data from the reader
            was pushed to a backend system that was used to create a digital
            trace of all parts.
          </p>
          <p>
            Applied Computer Vision to identify equipment parts after
            disassembly, we could track the components during each stage of the
            cleaning process. The experiment required building of the hardware
            and a machine learning based image processing part.
          </p>
          <p>
            Complemented the radio identification with vision to create near
            100% accuracy. Built a robust vision training of parts and creating
            identification and tracking models. We extended this to identify
            residue, active pharma ingredients by illuminating it with light
            from invisible spectrum.
          </p>
        </div>
      </div>
      <div class="innovation-section-subtitle">
        Picking Solution for Retailer
      </div>
      <p>
        Another example of how we scaled to develop a solution to improve the
        picking proces at a retail store. The intent was to provide a
        comprehensive analytical view of the behavior of a consumer, a store
        associate and vendor/supplier perfroming their chores, duties and tasks
        during a normal day.
      </p>
      <div class="innovation-section-multiple-images">
        <img src="assets/images/innovation-challenge-2.png" alt="" />
        <img src="assets/images/innovation-challenge-3.png" alt="" />
      </div>
      <p>
        An example of MVP we built was on a Retail solution, with the ability to
        detect several actions performed by the customer when they are in a
        store navigating through the aisles. Our solution is trained on standard
        actions, such as (1) pushing the cart / walking in the aisles (2)
        Picking items from store shelves (3) placing the item in the cart/
        walking with the item (4) Dwell time in the a specific location.
      </p>
    </div>

    <div class="innovation-section">
      <div class="innovation-section-title">
        Acceleration with Innovation Lab and Garages
      </div>
      <p>
        Leveraging our labs and garages, clients can accelerate the development
        of pilot products and experiment them with minimum setup time and much
        lowered costs. We have several software and hardware stacks that are
        available that can help in the acceleration. Our teams have minimized
        ramp up and take on an experiment for building a prototype and
        accelerate pilot development in weeks. We have done 1000+ prototypes and
        pilots in various areas of Retail, Healthcare, Manufacturing, Financial
        Technologies, High Tech and new areas in Semiconductor, Pharma and Life
        sciences.
      </p>
      <div class="innovation-section-multiple-images">
        <img src="assets/images/innovation-acceleration-1.png" alt="" />
        <img src="assets/images/innovation-acceleration-2.png" alt="" />
      </div>
    </div>

    <div class="innovation-section">
      <div class="innovation-section-title">Innovation at Scale</div>
      <p>
        We are able to scale the MVP into a full featured release. This is done
        once the MVP goes through the validation process with ‘Friends &
        Family’. The metrics from the MVP is evaluated, and evaluated if it met
        the success goals.
      </p>
      <p>
        Since the MVP is built on industrial strength platforms, products and
        frameworks using extensive ecosystem, we scale it to high performance
        needs, with minimal effort. Some of the examples of Innovation at scale
        are described below:
      </p>
      <div class="d-flex">
        <div class="maxWidth">
          <p>
            For Walmart, within the logistics group, the problem surfaced as
            existing processes required to identify carrier for tendering of
            loads from distribution centers to stores were inefficient.
          </p>
          <p>
            We could solve this problem through intelligent algorithms, enhanced
            carrier tendering and timely insights that improved the business
            efficiency by increasing productivity of their carriers. Avoided
            potential overstocks due to load management delays. Estimated $3
            million in direct cost savings annually.
          </p>
        </div>
        <img
          class="maxWidth"
          src="assets/images/innovation-scale-1.png"
          alt=""
        />
      </div>
      <div class="d-flex">
        <img
          class="maxWidth"
          src="assets/images/innovation-scale-2.png"
          alt=""
        />
        <p class="maxWidth">
          For a home mortgage company, the problem identified was the declining
          sales of home sales and the rise of foreclosures put the Realtors in a
          difficult position that lowered conversion. The Realtors could not
          keep up with the savvy buyers and were not able to keep up with
          options buyers were interested in. We conceptualized a product that
          engaged Realtor and Buyers of homes in a meaningful and productive
          manner that helped drive efficiencies in collaboration that would
          increase conversion to mortgages. The digital solution created
          improved how home options are shared while they buyer is in the market
          for a purchasing a home. The estimated increase in revenue with this
          is projected to be $275 million annually.
        </p>
      </div>
      <div class="d-flex">
        <p class="maxWidth">
          For an electronics equipment’s manufacturer, the problem initially
          stated was the lack of location data that could help field technicians
          be effective find the equipment to fix/service. With our problem
          discovery, distillation, definition process we could develop an
          innovative concept that could result in an estimated 10% to 20%
          efficacy in technical service maintenance, which is an annualized $15
          million direct cost savings. Additionally, through the problem sensing
          process, we could identify the problem behind the symptom, which was
          attributed to access to entitlements that would make the technician
          productive.
        </p>
        <img
          class="maxWidth"
          src="assets/images/innovation-scale-3.png"
          alt=""
        />
      </div>
      <p class="highlight">
        Highlight: The ability to scale innovation is key. One such innovation
        is what we built for Virgin Racing to build their one-of-a-kind Race
        Management System that they were building for their Formula 1 race car.
      </p>
      <div class="innovation-section-subtitle">
        Challenge: To build a new software system of Formula F1
      </div>
      <p>
        Virgin was entering into the Formula 1 with Marussia Virgin Racing and
        needed partners to build a team with the best in software required to
        manage end-to-end race management, over and above the Formula F1 race
        car itself
      </p>
      <p>
        Due to the time constraints, they needed to build a comprehensive Race
        Management System to fit the need of a completely reimagined F1 car that
        Marussia Virgin Racing was envisioning
      </p>
      <p>
        Marussia Virgin Racing was looking to bring in various types of data to
        analyze the performance during a race with a Race Management System,
        that needed to analyze the F1 car performance, the track data, the GPS
        data, including various video feeds to correlate data events to visual
        events.
      </p>
      <p>
        The data needed to be analyzed at high speed to provide detailed
        analytical information to the Pit Crew, such that, they can calibrate
        during a race and provide important information to the driver to help
        him make the rights adjustments.
      </p>
      <p>
        <strong>
          What we built? A race-ready scalable solution in weeks.
        </strong>
      </p>
      <div class="d-flex">
        <img
          class="maxWidth"
          src="assets/images/innovation-built-1.png"
          alt=""
        />
        <ul class="maxWidth">
          <li>
            UST built a Race Management System that ingested data from over a
            thousand sensors, from the F1 car and the racetrack. This also
            included the data from video feeds from various cameras that were
            monitoring the race, weather conditions before and during the race,
            the GPS data etc.
          </li>
          <li>
            UST created views for the Pit Crew to analyze with correlated events
            that was made available to the pit crew during a race. The data that
            was captured was also archived for replay so that the tuning crew
            and engineering can review to improve the performance
          </li>
        </ul>
      </div>
      <div class="d-flex">
        <ul class="maxWidth">
          <li>
            A comprehensive analysis of disparate data streams provided
            actionable insights to the Pit Crew, such that they could make split
            second decisions as well as intelligence that are helpful in an
            intensely competitive race
          </li>
          <li>
            Additionally, there were several supporting applications that were
            built for Marussia Virgin Racing to support various software
            functions that included spare parts ordering, Pit Crew scheduling
            amongst other functions
          </li>
        </ul>
        <img
          class="maxWidth"
          src="assets/images/innovation-built-2.png"
          alt=""
        />
      </div>
    </div>

    <div class="innovation-section">
      <div class="innovation-section-title">
        Why is this important for our customers?
      </div>
      <p>
        For our customers, we are focusing on the problem and not the symptom of
        the problem. We can determine what the underlying issues is and how we
        can bring ideas that solve the nuanced problem. The solution generated
        aligns with the business of the client and enhances the ecosystem.
      </p>
      <p>
        For our partners, we work in a symbiotic manner, where we understand the
        problem together, look at how we can apply our partner’s products,
        platforms and expertise in a complemented manner, such that we are
        building the best possible solution for our client. In this manner, the
        client know that we are bring best partner option and for the partner
        they know that together with UST, the best chance of success.
      </p>
      <p>
        Our innovation service brings the best of capabilities from a global
        innovation ecosystem to focus on the business problems. We do not focus
        just on the technological innovations we can bring to the solution, but
        we also look at the business model, new revenues to bring distinct
        advantage from a business perspective.
      </p>
    </div>

    <div class="innovation-section">
      <div class="innovation-section-title">
        And why we make a good partner?
      </div>
      <ul>
        <li>
          Our end-to-end innovation model through
          <span class="bold-underline">Innovation Assurance</span> that gets to
          predictable outcomes – problem discovery to product release
        </li>
        <li>
          <span class="bold-underline">Empathy-First</span> design methodology
          with techniques that we bring to solving understanding nuanced human
          dilemmas
        </li>
        <li>
          Problem solving campaigns with
          <span class="bold-underline">Ideathons</span>, that help curate the
          ideas, expand and experiment. The unique ability to rate in cohorts
          help focus on the value of ideas
        </li>
        <li>
          A focus on driving the
          <span class="bold-underline">Meritocracy</span> in the team with the
          diversity across multiple segments – social, gender, business,
          technological, regional backgrounds
        </li>
        <li>
          <span class="bold-underline">Platform-led Services</span> to improve
          the quality of our customer’s solution and expand on the features
          across markets
        </li>
        <li>
          Running <span class="bold-underline">Experiments</span> of selected
          ideas to determine the options to take forward, validate them and
          determine the viability on the technology stack
        </li>
        <li>
          Accelerate innovation leveraging
          <span class="bold-underline">UST Innovation Labs and Garages</span>
          with the best of Academia, Partners & Startups around the world
        </li>
        <li>
          Not just run <span class="bold-underline">Hackathons</span>, but
          create new components in software and hardware, leveraging guidelines
          that are designed for humans
        </li>
        <li>
          Access to worldwide
          <span class="bold-underline">Innovation Ecosystems</span> to
          complement our customer’s initiatives and co-create solutions and
          build intellectual property
        </li>
        <li>
          Applying orthogonal thinking into creating
          <span class="bold-underline">New Products</span> for our customers
          from other areas – Healthcare, Retail, Life Sciences, Banking,
          Insurance, High-tech etc.
        </li>
        <li>
          A digital portal, <span class="bold-underline">UST Waggle</span> to to
          guide customers through the problem solving journey, while bringing
          innovators, problem solvers, polymaths, anthropologists, designers,
          full stack developers and engineering
        </li>
      </ul>
    </div>

    <div class="innovation-section">
      <div class="innovation-section-title">We are Unique</div>
      <p>
        Our offering is to provide a truly end-to-end innovation assurance for
        our customers. Almost all our competition has one component or more
        missing from the innovation process – be it the strategy, problem
        solving, ideation, prototyping, experimentation, engineering, scale up
        or sustenance. We are unique in that respect, we have it all that is
        well strung together at a cost point that not only makes business and
        technology sense but also economic sense.
      </p>
      <p>
        With our innovation labs and garages, where no matter the type of
        solution being built – whether it is software or hardware, provide our
        customers with distinct and undeniable advantage of bringing a solution
        or product to market.
      </p>
      <p>
        With the number of techniques and methods described the the above
        sections, UST has extended the real-world problem solving with empathy
        into digital solutions.
      </p>
      <div class="single-image">
        <img src="assets/images/innovation-waggle.png" alt="" />
      </div>
    </div>
  </div>
</div>
